<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Early_Registration_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Early_Registration_Form.Properties.Settings>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseServer" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePort" serializeAs="String">
        <value />
      </setting>
    </Early_Registration_Form.Properties.Settings>
  </userSettings>
</configuration>